test.cassandra = 1
db.hosts = 192.168.156.12
db.port = 9042
db.database = onlinestore_qpg
exec_plan.dir = QPG_OnlineStore_ExecPlan
warmup.num = 0
measure.time = 1
workload.query.even = 1
#workload.query = Q1:15;Q2:9;Q3:4.5;Q4:3;Q5:1;Q6:1
#workload.update = item:1;product:1;carrier:1;supplier:1;payment:1;order:1;customer:1;category:1