test.cassandra = 1
db.hosts = 192.168.156.13
db.port = 9042
db.database = eac_nose;eac_qpg;eac_qpg_hw
exec_plan.dir = ../EAC_NoSE/NoSE_EAC_ExecPlan;../EAC_QPG/QPG_EAC_ExecPlan;../EAC_QPG_HW/QPG_HW_EAC_ExecPlan
warmup.num = 30
measure.time = 10
workload.query.even = 0
workload.query = Q1:1;Q2:1;Q3:1;Q4:1;Q5:1
#workload.update = insert_item:1