test.cassandra = 1
db.hosts = 192.168.156.13
db.port = 9042
db.database = rubis_qpg_bidding;rubis_nose_bidding;rubis_qpg_10;rubis_nose_10;rubis_nose_100
exec_plan.dir = ../Rubis_QPG/QPG_Rubis_ExecPlan_Bidding;../Rubis_NoSE/NoSE_Rubis_ExecPlan_Bidding;../Rubis_QPG/QPG_Rubis_ExecPlan_W10;../Rubis_NoSE/NoSE_Rubis_ExecPlan_W10;../Rubis_NoSE/NoSE_Rubis_ExecPlan_W100
warmup.num = 0
measure.time = 1
workload.query.even = 0
workload.scale = 10
workload.query = Q1:13.51;Q2:7.65;Q3:1.54;Q4:1.54;Q5:14.17;Q6:15.94;Q7:4.65;Q8:4.19;Q9:1.16;Q10:21.19;Q11:110;Q12:5.4;Q13:374;Q14:45;Q15:1.71;Q16:1.71;Q17:1.71;Q18:1.71;Q19:6.34;Q20:5.39;
workload.update = users:152;comments:45;items:537;buynow:110;bids:374;from_user:45;to_user:45;items_users:53;buynow_users:110;user_bid:374;user_region:107;item_buynow:110;item_category:53;item_bid:374;
