test.cassandra = 1
db.hosts = 192.168.156.13
db.port = 9042
db.database = rubis_qpg;rubis_nose
exec_plan.dir = ../Rubis_QPG/QPG_Rubis_ExecPlan_Browsering;../Rubis_NoSE/NoSE_Rubis_ExecPlan_Browsering
warmup.num = 0
measure.time = 1
workload.query.even = 0
workload.scale=1000
workload.query = Q1:4.44;Q2:4.44;Q5:22.95;Q6:27.77;Q7:4.41;Q8:4.41;Q10:22.95;Q19:8.26;Q20:3.21;