test.cassandra = 1
db.hosts = 192.168.156.13
db.port = 9042
db.database = rubis_qpg_bidding;rubis_nose_bidding;rubis_qpg_10;rubis_nose_10;rubis_nose_100
exec_plan.dir = ../Rubis_QPG/QPG_Rubis_ExecPlan_Bidding;../Rubis_NoSE/NoSE_Rubis_ExecPlan_Bidding;../Rubis_QPG/QPG_Rubis_ExecPlan_W10;../Rubis_NoSE/NoSE_Rubis_ExecPlan_W10;../Rubis_NoSE/NoSE_Rubis_ExecPlan_W100
warmup.num = 5
measure.time = 10
workload.query.even = 1