test.cassandra = 1
#test.mongodb = 1
db.hosts = localhost
db.port = 9042
#db.port = 27017
#mongodb.url = mongodb://localhost:27017/onlinestore_lima?w=1
db.database = rubis_nose
exec_plan.dir = workload-expr/src/main/resources/NoSE_Rubis_ExecPlan
workload.query.even = 1
#workload.query=Q4:1;
#workload.query = Q1:100;Q2:100;Q3:100;Q4:100;Q5:100;Q6:100;Q7:100;Q8:100;Q9:100;Q10:100;Q11:100;Q12:100;Q13:100;Q14:100;Q15:100;Q16:100;Q17:100;Q18:100;Q19:100;Q20:100;"
#workload.update = insert_item:1