test.mongodb = 1
#mongodb.url = mongodb://192.168.156.17:20000/onlinestore_qpg?w=1
db.hosts = 192.168.156.17
db.port = 20000
db.database = rubis_nf
exec_plan.dir = NF_Rubis_ExecPlan
warmup.num = 0
measure.time = 1
workload.query.even = 1
#workload.scale = 100
#workload.query = Q1:1000;Q2:1000;Q3:1000;Q4:1000;Q5:1000;Q6:1000
#workload.update = update_product:1